body {
	background-color:#fefefe;
}

#wrap {
	width:1200px;
	height:800px;
	margin:auto;
}

header {
	height:40px;
}

.login-box {
	width:400px;

}

.signup-box {
	width:400px;
	height:500px;
}

footer {
	height:50px;
}


.upload-box {
	
	border: solid 1px #cccccc;	
	border-radius: 5px;
}

.non-resize {
	resize:none;		
}